@import "../scss/main.scss";

.contact {
  background: transparent url("../assets/BackgroundContact.png") 0% 0% no-repeat
    padding-box;
  height: 1026px;

  &__background {
    background: #ffffffc9 0% 0% no-repeat padding-box;
    height: 1026px;
  }

  &__contener {
    height: 977px;
  }

  &__content {
    display: flex;
    height: 100%;
    max-width: 90%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 38px;
    line-height: 55px;
    letter-spacing: -0.76px;
    color: #3c3c3c;

    &__decoration_icon {
      margin-top: 25px;
      margin-bottom: 30px;
    }
  }
}

.footer {
  margin: auto;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-size: 18px;
    line-height: 24px;
    color: #3c3c3c;
  }

  &__icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__icon_hiden {
    display: flex;
    flex-direction: row;
    gap: 86px;
  }
}
