.menu {
  max-width: 80%;
  margin-top: 36px;

  &__top {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;

    .login_link {
      display: flex;
      align-items: center;
      color: #737373;
      background-color: #ffffff;
      font-size: 14px;
      line-height: 79px;
      border: none;
      padding: 9px 10px;
      height: 36px;
      text-decoration: none;
      border: 0.75px solid transparent;
      &:hover {
        border: 0.75px solid #fad648;
      }
    }
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  color: #3c3c3c;
  font-size: 18px;
  line-height: 24px;

  &_item {
    padding: 9px 20px;
    margin-left: 10px;
    text-decoration: none;
    border: 0.75px solid transparent;

    &:hover {
      border: 0.75px solid #3c3c3c;
    }
  }
}
