.login {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  width: 504px;
  margin-top: 123px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 38px;
    line-height: 55px;
    letter-spacing: -0.76px;
    color: #3c3c3c;

    &__decoration_icon {
      margin-top: 25px;
      margin-bottom: 50px;
    }
  }

  .login__form {
    margin: auto;
  }

  .form {
    &__data {
      width: 385px;
      height: 235px;
      background: #f0f1f1 0% 0% no-repeat padding-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }

    &__box {
      display: flex;
      flex-direction: column;
      width: 256px;
    }
    &_title {
      font-weight: 600;
      font-size: 16px;
      color: #3c3c3c;
      margin-bottom: 12px;
    }
    &_placeholder {
      &::placeholder {
        color: #3c3c3c26;
      }
      background-color: transparent;
      font-size: 18px;
      border: none;
      border-bottom: 1px solid #707070;
      padding: 4px 0;
  
      &__validate__error {  
        color: red;
        font-size: 12px;
        margin-top: 5px;
  
        &_border {
          border-bottom: 1px solid red;
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: space-between;

      &_link {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 117px;
        height: 50px;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #000000;
        background-color: transparent;
        border: 0.75px solid transparent;
        font-family: "Open Sans";
      }

      &_link:hover {
        border: 0.75px solid #3c3c3c;
      }
    }
  }
}
