.whoWeHelp {
  max-width: 80%;
  margin: auto;
  margin-top: 70px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 38px;
    line-height: 55px;
    letter-spacing: -0.76px;
    color: #3c3c3c;

    &__decoration_icon {
      margin-top: 25px;
      margin-bottom: 50px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 62px;
  }

  &__btn {
    text-align: center;
    color: #3c3c3c;
    font-size: 24px;
    line-height: 24px;
    background-color: white;
    padding: 23px 43px;
    border: 0.75px solid transparent;
  }
  
  &__btn:focus {
    border: 0.75px solid #3c3c3c;
  }
}
